.empty-state {
    background: #e6e6e6;
    padding: 60px;
    text-align: center;
    width: 500px;
    margin: 60px auto;
}

.empty-state h2 {
    margin-bottom: 15px;
}

.empty-state p {
    margin-bottom: 20px;
}

.btn-primary {
    background: #7a7373;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}